<h4 class="text-center">Login</h4>

<form [formGroup]="loginForm" class="form mt-4">
   
    <div class="form-group">
        <input
            formControlName="userName"
            class="form-control" 
            placeholder="user name" 
            autofocus>
        <ap-vmessage
            *ngIf="loginForm.get('userName').errors?.required"
            text="User name is required!">
        </ap-vmessage>
            
    </div>

    <div class="form-group">
        <input 
            formControlName="password"
            class="form-control" 
            placeholder="password" 
            type="password">
        <ap-vmessage
            *ngIf="loginForm.get('password').errors?.required"
            text="password is required!">
        </ap-vmessage>
    </div>

    <button [disabled]="loginForm.invalid" class="btn btn-primary btn-block" type="button">login</button>
</form>

<p>Not a user?<a href="#">Register now</a></p>